@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 348 67% 95%; /* light blush */
    --foreground: 345 30% 25%; /* dark pinkish brown */

    --card: 0 0% 100%;
    --card-foreground: 345 30% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 345 30% 25%;

    --primary: 345 65% 86%; /* soft pink */
    --primary-foreground: 345 30% 25%;

    --secondary: 285 23% 90%; /* lighter violet */
    --secondary-foreground: 285 30% 25%;

    --muted: 285 23% 92%;
    --muted-foreground: 345 20% 45%;

    --accent: 285 23% 85%; /* pale violet */
    --accent-foreground: 285 30% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 345 20% 88%;
    --input: 345 20% 90%;
    --ring: 345 65% 76%;

    --radius: 0.8rem;

    --chart-1: 345 65% 86%;
    --chart-2: 285 23% 85%;
    --chart-3: 348 67% 95%;
    --chart-4: 345 45% 76%;
    --chart-5: 285 33% 75%;
  }

  .dark {
    --background: 285 10% 10%;
    --foreground: 348 67% 95%;

    --card: 285 10% 12%;
    --card-foreground: 348 67% 95%;

    --popover: 285 10% 10%;
    --popover-foreground: 348 67% 95%;

    --primary: 345 65% 70%;
    --primary-foreground: 345 10% 10%;

    --secondary: 285 10% 20%;
    --secondary-foreground: 348 67% 95%;

    --muted: 285 10% 20%;
    --muted-foreground: 348 20% 75%;

    --accent: 285 15% 30%;
    --accent-foreground: 348 67% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 285 10% 25%;
    --input: 285 10% 25%;
    --ring: 345 65% 70%;

    --chart-1: 345 55% 60%;
    --chart-2: 285 23% 55%;
    --chart-3: 348 40% 70%;
    --chart-4: 345 45% 56%;
    --chart-5: 285 33% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
